In [2]:
import pandas as pd

data = {
    'Name': ['Kurmet', 'Duman', 'Alan', 'Ilyas', 'Almansur'],
    'Age': [20, 21, 20, 18, 18],
    'Score': [85, 95, 70, 75, 88]
}

dataframe = pd.DataFrame(data)
print("Initial DataFrame:")
print(dataframe)

Initial DataFrame:
       Name  Age  Score
0    Kurmet   20     85
1     Duman   21     95
2      Alan   20     70
3     Ilyas   18     75
4  Almansur   18     88

In [3]:
print("\nFirst 3 Rows:")
print(dataframe.head(3))

print("\nSummary Statistics:")
print(dataframe.describe())

average = dataframe['Score'].mean()
print(f"\nAverage Score: {average}")

First 3 Rows:
     Name  Age  Score
0  Kurmet   20     85
1   Duman   21     95
2    Alan   20     70

Summary Statistics:
             Age     Score
count   5.000000   5.00000
mean   19.400000  82.60000
std     1.341641  10.06479
min    18.000000  70.00000
25%    18.000000  75.00000
50%    20.000000  85.00000
75%    20.000000  88.00000
max    21.000000  95.00000

Average Score: 82.6

In [4]:
older_than_20 = dataframe[dataframe['Age'] > 20]
print("\nStudents older than 20:")
print(older_than_20)

high_scores = dataframe[dataframe['Score'] > 80]
print("\nStudents with score > 80:")
print(high_scores)

Students older than 20:
    Name  Age  Score
1  Duman   21     95

Students with score > 80:
       Name  Age  Score
0    Kurmet   20     85
1     Duman   21     95
4  Almansur   18     88